.list {
  padding-top: 20px;
  border-top: 3px dashed grey;
}

.item {
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.body {
  margin-bottom: 5px;
}

.author, 
.date {
  font-size: 12px;
  color: grey;
  font-weight: bold;
}

.author {
  margin-right: 15px;
}

.loader {
  
}